<div class="site-commander-text-stats">
	<div class="site-commander-text-stats-column">
		<div class="list-group">
			<a href="#" class="list-group-item active"><span class="fa fa-drupal"></span> &nbsp;<strong>Published Nodes By Type</strong></a>
			{% for nodeType in drupalInfo.publishedNodeCounts %}
				<span class="list-group-item">
					<a class="pull-left site-commander-icon-action" alt="Add New" title="Add New" href="/node/add/{{ nodeType.type }}"><span class="fa fa-plus"></span></a>&nbsp;
					<a href="/admin/content?status=1&type={{ nodeType.type }}&title=&langcode=All" class="" alt="View all" title="View all">
						
						{% if nodeType.type_count %}
							{% set nodeCountClass = 'badge-active' %}
						{% else %}
							{% set nodeCountClass = 'badge-default' %}
						{% endif %}

						<span class="badge {{ nodeCountClass }} pull-right">{{ nodeType.type_count }}</span>
						{{ drupalInfo.nodeTypeNames[ nodeType.type ] }}
					</a>
				</span>
			{% endfor %}
		</div>
	</div>

	<div class="site-commander-text-stats-column">
		<ul class="list-group">

			<li class="list-group-item active"><span class="fa fa-drupal"></span>&nbsp; <strong>Site Data/Tasks</strong></li>
			<li class="list-group-item"> <a href="/admin/modules/install" alt="Install new module" title="Install new module" class="site-commander-icon-action"><span class="fa fa-plus fa-fw"></span></a> <a href="/admin/modules" alt="Browse installed modules" title="Browse installed modules">Enabled Modules</a>: <span class="badge badge-active">{{ drupalInfo.enabledModulesCount }}</span></li>

			<li class="list-group-divider"></li>

			{%if drupalInfo.numAuthUsersOnline %}
				{% set userClass = 'badge-success' %}
			{% else %}
				{% set userClass = 'badge-default' %}
			{% endif %}

			{%if drupalInfo.numVisitorsOnline %}
				{% set visitorClass = 'badge-success' %}
			{% else %}
				{% set visitorClass = 'badge-default' %}
			{% endif %}

			<li class="list-group-item"> <a href="/admin/people/create" class="site-commander-icon-action"><span class="fa fa-plus fa-fw"></span></a> <a href="/admin/people" title="Browse user accounts">Total # Users</a>: <span class="badge badge-active">{{ drupalInfo.userCount }}</span></li>
			<li class="list-group-item"> <a href="#" id="switch-users-online"><span class="fa fa-users fa-fw icon-green"></span></a> Users Online Now: <span class="badge {{ userClass }}">{{ drupalInfo.numAuthUsersOnline }}</span></li>
			<li class="list-group-item"> <span class="fa fa-users fa-fw site-commander-icon-noaction"></span> Visitors Online Now: <span class="badge {{ visitorClass }}">{{ drupalInfo.numVisitorsOnline }}</span></li>
			<li class="list-group-item"> <a href="/sitecommander/purge-sessions" class="use-ajax site-commander-icon-action" alt="Purge sessions now (except this one!)" title="Purge sessions now (except this one!)"><span class="fa fa-trash fa-fw"></span></a> Number of Session Entries: <span id="num-session-entries" class="badge badge-active">{{ drupalInfo.numSessionEntries }}</span></li>

			<li class="list-group-divider"></li>

			{%if drupalInfo.maintenance_mode == 'On' %}
				{% set maintenanceModeClass = 'badge-green' %}
				{% set maintIcon = 'fa-toggle-on' %}
			{% else %}
				{% set maintenanceModeClass = 'badge-default' %}
				{% set maintIcon = 'fa-toggle-off' %}
			{% endif %}

			<li class="list-group-item"> <a href="/sitecommander/toggle-maintenance-mode" class="use-ajax site-commander-icon-action"><span id="toggleMaintenanceMode" title="Toggle maintenance mode"><span id="maintenanceModeIcon" class="fa {{ maintIcon }} fa-fw"></span></span></a>&nbsp; Maintenance Mode: <span id="maintenanceModeBadge" class="badge {{ maintenanceModeClass }}">{{ drupalInfo.maintenance_mode }}</span></li>
			<li class="list-group-item"> <a href="/cron/{{ drupalInfo.cron.cron_key }}" alt="Run cron now" title="Run cron now" class="site-commander-icon-action"><span class="fa fa-clock-o fa-fw"></span></a> Cron Last Run: <span class="badge badge-active">{{ drupalInfo.cron.cron_last }}</span></li>
			<li class="list-group-item"> <a href="{{ drupalInfo.updateCheckURL }}" class="site-commander-icon-action"><span class="fa fa-clock-o fa-fw"></span></a> Last Checked for Updates: <span class="badge badge-active">{{ drupalInfo.update_last_check }}</span></li>

			<li class="list-group-item"> <a href="/sitecommander/rebuild-drupal-cache" class="use-ajax site-commander-icon-action" alt="Clear/rebuild cache now" title="Clear/rebuild cache now"><span class="fa fa-refresh fa-fw"></span></a> Drupal Cache Last Refreshed: <span id="last_cache_rebuild" class="badge badge-active">{{ drupalInfo.timestamp_cache_last_rebuild }}</span></li>
			<li class="list-group-item"> <span class="fa fa-hdd-o fa-fw site-commander-icon-noaction"></span> Install Size: <span class="badge badge-active">{{ drupalInfo.installSize }}</span></li>
			<li class="list-group-item"> <a href="/sitecommander/cleanup-old-files" class="use-ajax site-commander-icon-action" alt="Remove old aggregated css/js files now" title="Remove old aggregated css/js files now"><span class="fa fa-trash fa-fw"></span></a> Old Aggregated File Storage: <span id="old-files-storage-size" class="badge badge-active">{{ drupalInfo.oldFilesStorageSize }}</span></li>

			{% if drupalInfo.redisStats %}
			<li class="list-group-item"> <a href="/sitecommander/clear-redis-cache" class="use-ajax site-commander-icon-action" alt="Clear Redis Cache Now" title="Clear Redis Cache Now"><span class="fa fa-trash fa-fw"></span></a> Redis Cache # Entries: <span id="num-redis-entries" class="badge badge-active">{{ drupalInfo.redisStats.numObjectsCached }}</span></li>
			{% endif %}

			{% if drupalInfo.apcStats %}
			<li class="list-group-item"> <a href="/sitecommander/clear-apc-opcache" class="use-ajax site-commander-icon-action" alt="Clear APC Op Cache Now" title="Clear APC Op Cache Now"><span class="fa fa-trash fa-fw"></span></a> APC Op Cache # Entries: <span id="num-apc-opcache-entries" class="badge badge-active">{{ drupalInfo.apcStats.numEntries }}</span></li>
			{% endif %}

			{% if drupalInfo.opCacheStats %}
			<li class="list-group-item"> <a href="/sitecommander/clear-php-opcache" class="use-ajax site-commander-icon-action" alt="Clear PHP OpCache Now" title="Clear PHP OpCache Now"><span class="fa fa-trash fa-fw"></span></a> PHP OpCache # Entries: <span title="# cached scripts" id="num-php-opcache-scripts" class="badge badge-active">{{ drupalInfo.opCacheStats.opcache_statistics.num_cached_scripts }}</span> <span title="# cached keys" id="num-php-opcache-keys" class="badge badge-active">{{ drupalInfo.opCacheStats.opcache_statistics.num_cached_keys }}</span></li>
			{% endif %}
		</ul>
	</div>

	<div class="site-commander-text-stats-column">
		<ul class="list-group">
			<li class="list-group-item active"><span class="fa fa-envelope"></span>&nbsp; <strong>MailChimp Stats</strong> <a href="https://admin.mailchimp.com" target="_blank" class="pull-right btn btn-sm btn-default btn-search-more" alt="MailChimp Admin Panel" title="MailChimp Admin Panel"><span class="fa fa-external-link"></span></a></li>
			{% if drupalInfo.mailchimp|length == 0 %}
				<li class="list-group-item">Mailchimp not installed, or no lists created yet!</li>
			{% endif %}
			{% for listId, list in drupalInfo.mailchimp %}

				{% if list.stats.member_count %}
					{% set memberCountClass = 'badge-active' %}
				{% else %}
					{% set memberCountClass = 'badge-default' %}
				{% endif %}

				{% if list.stats.click_rate %}
					{% set ctrClass = 'badge-clickrate' %}
				{% else %}
					{% set ctrClass = 'badge-default' %}
				{% endif %}

				{% if list.stats.open_rate %}
					{% set openRateClass = 'badge-openrate' %}
				{% else %}
					{% set openRateClass = 'badge-default' %}
				{% endif %}

				<li class="list-group-item"> {{ list.name }} <span title="Number of subscribers" class="badge {{ memberCountClass }}">{{ list.stats.member_count }} Subs</span> <span title="Average click through rate (CTR)" class="badge {{ ctrClass }}">{{ list.stats.click_rate }}</span> <span title="Average open rate" class="badge {{ openRateClass }}">{{ list.stats.open_rate }}</span></li>
			{% endfor %}
		</ul>

		<ul class="list-group">
			<li class="list-group-item active"><span class="fa fa-search"></span>&nbsp; <strong>Top Site Searches Today <a href="/admin/reports/search" target="_blank" class="pull-right btn btn-sm btn-default btn-search-more" alt="Click for more ..." title="Click for more ..."><span class="fa fa-search"></span></a></strong></li>
			{% if drupalInfo.topSearches %}
				{% for search in drupalInfo.topSearches %}
					<li class="list-group-item">{{ search.searchPhrase }} <span class="badge badge-active">{{ search.count }}</span></li>
				{% endfor %}
			{% else %}
				<li class="list-group-item">No searches performed yet today!</li>
			{% endif %}
		</ul>
	</div>

</div>

