
<h2>Caching Performance</h2>
<hr class="site-commander-hr" />

{% if drupalInfo.apcStats %}

	<h3 class="text-center">APC Opcode Cache Status</h3>
	<div class="gauges-container">
		<div id="apcOpcacheStatus" class="gauge 200x160px"></div>
		<div id="apcMemoryUsage" class="gauge 200x160px"></div>
		<div style="clear:both"></div>
	</div>

	<hr class="site-commander-hr" />
{% endif %}

{% if drupalInfo.redisStats %}
	<h3 class="text-center">PHP OpCache Status</h3>

	<div class="gauges-container">
		<div id="opCacheHits" class="gauge 200x160px"></div>
		<div id="opCacheMemoryUsage" class="gauge 200x160px"></div>
		<div style="clear:both"></div>
	</div>

	<hr class="site-commander-hr" />
{% endif %}

{% if drupalInfo.redisStats %}
	<h3 class="text-center">Redis Caching Status</h3>

	<div class="gauges-container">
		<div id="redisKeyspaceHits" class="gauge 200x160px"></div>
		<div id="redisMemoryUsage" class="gauge 200x160px"></div>
		<div id="redisPeakMemoryUsage" class="gauge 200x160px"></div>
		<div style="clear:both"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="card text-center">Redis Version:<br /><span class="label label-info" id="redisVersion">{{ drupalInfo.redisStats.redis_version }}</span></div>
			<div class="card text-center">Uptime:<br /><span class="label label-info" id="redisUptimeInDays">{{ drupalInfo.redisStats.uptime_in_days }} day(s)</span></div>
			<div class="card text-center">Connected Clients:<br /><span class="label label-info" id="redisConnectedClients">{{ drupalInfo.redisStats.connected_clients }}</span></div>
			<div class="card text-center">Connected Slaves:<br /><span class="label label-info" id="redisConnectedSlaves">{{ drupalInfo.redisStats.connected_slaves }}</span></div>
			<div class="card text-center">Connections Rcvd:<br /><span class="label label-info" id="redisTotalConnectionsReceived">{{ drupalInfo.redisStats.total_connections_received }}</span></div>
			<div class="card text-center">Commands Proc'd:<br /><span class="label label-info" id="redisTotalCommandsProcessed">{{ drupalInfo.redisStats.total_commands_processed }}</span></div>
			<div class="card text-center">Total Net Input:<br /><span class="label label-info" id="redisTotalNetInput">{{ drupalInfo.redisStats.totalNetInputBytesFormatted }}</span></div>
			<div class="card text-center">Total Net Output:<br /><span class="label label-info" id="redisTotalNetOutput">{{ drupalInfo.redisStats.totalNetOutputBytesFormatted }}</span></div>
			<div class="card text-center">Cached Objects:<br /><span class="label label-info" id="redisCachedObjects">{{ drupalInfo.redisStats.numObjectsCached }}</span></div>
			<div class="card text-center">Expired Keys:<br /><span class="label label-info" id="redisExpiredKeys">{{ drupalInfo.redisStats.expired_keys }}</span></div>
			<div class="card text-center">Evicted Keys:<br /><span class="label label-info" id="redisEvictedKeys">{{ drupalInfo.redisStats.evicted_keys }}</span></div>
			<div class="card text-center">Mem Fragm. Ratio:<br /><span class="label label-info" id="redisMemFragmentationRatio">{{ drupalInfo.redisStats.mem_fragmentation_ratio }}</span></div>
		</div>
	</div>

{% endif %}

