<h3 class="text-center">Overall Performance</h3>
<hr class="site-commander-hr" />

<div class="row">
	<div class="col-md-12">
			<div class="col-md-2 text-center">Uptime:<br /><span class="label label-info" id="dbUptime">{{ drupalInfo.dbUptime }}</span></div>
			<div class="col-md-2 text-center"># Queries:<br /><span class="label label-info" id="dbTotalQueries">{{ drupalInfo.dbTotalQueries }}</span></div>
			<div class="col-md-2 text-center">Queries/Sec:<br /><span class="label label-info" id="dpQPS">{{ drupalInfo.dbQPS }}</span></div>
			<div class="col-md-2 text-center">Total Connections:<br /><span class="label label-info" id="dbTotalConnections">{{ drupalInfo.dbTotalConnections }}</span></div>
			<div class="col-md-2 text-center">Bytes Sent:<br /><span class="label label-info" id="dbBytesSent">{{ drupalInfo.dbBytesSent }}</span></div>
			<div class="col-md-2 text-center">Bytes Rcvd:<br /><span class="label label-info" id="dbBytesReceived">{{ drupalInfo.dbBytesReceived }}</span></div>
	</div>
</div>

<hr class="site-commander-hr" />

<div class="gauges-container">
	<div id="dbPerf1" class="gauge 200x160px"></div>
	<div id="dbPerf2" class="gauge 200x160px"></div>
	<div id="dbPerf3" class="gauge 200x160px"></div>
	<div id="dbPerf4" class="gauge 200x160px"></div>
</div>

