<h3 class="text-center">Overall Performance</h3>
<hr class="site-commander-hr" />

<div class="row">
	<div class="col-md-12">
			<div class="col-md-2 text-center">Uptime:<br /><span class="label label-info">{{ drupalInfo.dbStats.uptime|format_uptime }}</span></div>
			<div class="col-md-2 text-center"># Queries:<br /><span class="label label-info">{{ drupalInfo.dbStats.questions|format_number }}</span></div>
			<div class="col-md-2 text-center">Queries/Sec:<br /><span class="label label-info">{{ (drupalInfo.dbStats.questions / drupalInfo.dbStats.uptime)|round(2) }}</span></div>
			<div class="col-md-2 text-center">Total Connections:<br /><span class="label label-info">{{ drupalInfo.dbStats.connections|format_number }}</span></div>
			<div class="col-md-2 text-center">Bytes Sent:<br /><span class="label label-info">{{ drupalInfo.dbStats.bytes_sent|format_size }}</span></div>
			<div class="col-md-2 text-center">Bytes Sent:<br /><span class="label label-info">{{ drupalInfo.dbStats.bytes_received|format_size }}</span></div>
	</div>
</div>

<hr class="site-commander-hr" />

<div class="gauges-container">
	<div id="dbPerf1" class="gauge 200x160px"></div>
	<div id="dbPerf2" class="gauge 200x160px"></div>
	<div id="dbPerf3" class="gauge 200x160px"></div>
</div>

